:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0 16px;
}

h2 {
  padding: 0 16px 16px;
}

.carriage-card {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
