:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 32px;
  width: 100%;
  max-width: 400px;
  padding: 0 16px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 16px;
  padding: 24px 32px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.form-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  align-self: flex-end;
}

.button-close {
  align-self: flex-end;
}
